<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="JonesBot Test Suite" verbose="10" preserve-order="true">

	<test name="Database">
		<classes>
			<class name="ca.darrensjones.jonesbot.test.db.Tables" />
			<class name="ca.darrensjones.jonesbot.test.db.controller.TCConfig" />
			<class name="ca.darrensjones.jonesbot.test.db.controller.TCFrinkiacSaved" />
			<class name="ca.darrensjones.jonesbot.test.db.controller.TCReaction" />
		</classes>
	</test>

	<test name="Handlers">
		<classes>
			<class name="ca.darrensjones.jonesbot.test.handler.TAutoResponseHandler" />
			<class name="ca.darrensjones.jonesbot.test.handler.TCommandHandler" />
		</classes>
	</test>

	<test name="Commands">
		<classes>
			<class name="ca.darrensjones.jonesbot.test.command.CommandBasics" />
			<class name="ca.darrensjones.jonesbot.test.command.CommandRequests" />
			<class name="ca.darrensjones.jonesbot.test.command.TCommandWeather" />
			<class name="ca.darrensjones.jonesbot.test.command.TFrinkiac" />
			<class name="ca.darrensjones.jonesbot.test.command.TRoll" />
			<class name="ca.darrensjones.jonesbot.test.command.TVersion" />
		</classes>
	</test>

</suite>