<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="JonesBot Test Suite" verbose="10" preserve-order="true">

	<test name="command">
		<classes>
			<class name="ca.darrensjones.jonesbot.test.command.CommandBasics" />
			<class name="ca.darrensjones.jonesbot.test.command.CommandRequests" />
			<class name="ca.darrensjones.jonesbot.test.command.TCommandWeather" />
			<class name="ca.darrensjones.jonesbot.test.command.TFrinkiac" />
			<class name="ca.darrensjones.jonesbot.test.command.TRoll" />
		</classes>
	</test>

	<test name="database">
		<classes>
			<class name="ca.darrensjones.jonesbot.test.db.DatabaseTablesTest" />
			<class name="ca.darrensjones.jonesbot.test.db.controller.CAutoResponseReactionTest" />
			<class name="ca.darrensjones.jonesbot.test.db.controller.CConfigTest" />
			<class name="ca.darrensjones.jonesbot.test.db.controller.CFrinkiacSavedTest" />
			<class name="ca.darrensjones.jonesbot.test.db.controller.CSimpleScheduleTest" />
		</classes>
	</test>

	<test name="handler">
		<classes>
			<class name="ca.darrensjones.jonesbot.test.handler.AutoResponseHandlerTest" />
			<class name="ca.darrensjones.jonesbot.test.handler.CommandHandlerTest" />
		</classes>
	</test>

</suite>